.form-control {
    margin-bottom: 2rem;

    .alert-warning {
        box-sizing: border-box;
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
        width: 100%;
        font-size: 2rem;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    form input {
        box-sizing: border-box;
        border: none;
        border-bottom: 3px solid black;
        min-height: 4rem;
        margin-bottom: 2rem;
        font-size: 2rem;
        width: 100%;
        padding: 0 1rem;
    }
    
    form input::placeholder {
        color: #CAD2D5;
        font-weight: 300; 
    }
    
    form button {
        min-height: 5rem;
        font-size: 1.6rem;
        color: white;
        background-color: black;
        letter-spacing: 1px;
        border-radius: 4px;
        margin-bottom: 2rem;
        padding: 0;
        border: 0;
        width: 100%;
    }
}