.task-list {
    margin-bottom: 5rem;

    ul {
        padding: 0;
        list-style: none;

        .list-item {
            background: linear-gradient(90deg, #FF6600 0%, #FF9734 100%);
            box-shadow: 0 2px 4px 0 rgba(255,129,21,0.68);
            border-radius: 4px;	
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
            letter-spacing: 1px;
            padding: 1.5rem;
            position: relative;
            padding-left: 5rem;
            color: white;
        }
        
        .list-item::before {
            content: "";
            position: absolute;
            height: 15px;
            width: 15px;
            border: 3px solid white;
            border-radius: 50%;
            background: transparent;
            margin-right: 10px;
            left: 10px;
            top: 13px;
        }
        
        .list-item:hover {
            cursor: pointer;
            background: linear-gradient(90deg, #FF6600 0%, #B8E986 100%);
            box-shadow: 0 2px 4px 0 rgba(155, 199, 110, 0.68);
        }
    }
    
}

